# Flask Settings
FLASK_APP=
FLASK_DEBUG=
SECRET_KEY=paste_your_generated_token_here
FLASK_RUN_PORT=

# Database Settings
# Format: postgresql://username:password@host:port/database_name
DATABASE_URL=postgresql://postgres:admin123@localhost:5432/hamro_hisab_db

# JWT Settings (Optional but good for Hamro Hisab)
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRES=
